@use '../global';

@font-face {
  font-family: 'icomooncert';
  src:
    url('/fonts/cert/icomoon/icomoon.ttf?e47dwj') format('truetype'),
    url('/fonts/cert/icomoon/icomoon.woff?e47dwj') format('woff'),
    url('/fonts/cert/icomoon/icomoon.svg?e47dwj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*, :after, :before {
  box-sizing: border-box;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(29 36 44 / 87%);
  background-clip: border-box;
  border: 1px solid rgb(0 0 0 / 69%);
  border-radius: 0.5rem;
  color: darkgray;
  padding: 0.8rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

// END

.blink-loading {
  animation: wink 1s linear infinite;
}
  

  :root {
    --icon-color-primary: #152bd5;
    --icon-color-secondary: inherit;
  
    --icon-size-xs: 0.5em;
    --icon-size-sm: 0.8em;
    --icon-size-lg: 1.6em;
    --icon-size-xl: 2em;
  }
  
  
h1.headtitle {
  color: #fff;
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  font-size: 1.8rem;
  display: inline;
  vertical-align: middle;
}


.header-card-title {
  margin-top: 0.2rem;
  margin-left: 1rem;
  font-weight: 700;
  background: linear-gradient(to left, #fdfdfd, #0061ffb0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2.header-card-title {
  font-size: 1.3rem;
}

h1.header-card-title {
  font-size: 1.8rem;
}

footer {

  p {
    color: #fff;
  }

}


header.header,
footer {
  margin: 0.5rem 0.7rem 1rem 0.7rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0.3em;
  box-shadow: 0 0 6em 0 rgb(120 146 197 / 73%), 0 0 1em 0 rgb(0 0 0 / 75%);
  overflow: hidden;
  background-color: rgb(34 34 34 / 82%);
  // background-color: rgb(56 27 22 / 30%);
}

header.header::before,
footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  // margin: -3em; // min margin needed for blur gradient on edges
  z-index: -1;
  filter: blur(20px);
}

// btns for pagination



/* < --- projects APP */


/*header */

.headtitle-warp {

  margin-top: 2.5rem;
  margin-left: 1.5rem;


  svg {
    width: 3rem;
    height: 3rem;
  }


}

/* Header desktop menu */

$radius: 0.5rem;
$skew: 25deg;
$main-color: tomato;


.skew-menu {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.skew-menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: skew(-$skew);
}

.skew-menu ul li {
  background: #fff;
  float: left;
  margin-bottom: 0.2rem;
  border-right: 0.5rem solid #eee;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #555;
  font-weight: bolder;
  transition: all 0.3s linear;
  font-size: 0.75rem;

  &:first-child {
    border-radius: $radius 0 0 $radius;
  }

  &:last-child {
    border-right: none;
    border-radius: 0 $radius $radius 0;
  }

  &:hover {
    background: #eee;
    color: $main-color;
  }



  a {
    display: block;
    padding: 1em 2em;
    color: inherit;
    text-decoration: none;
    transform: skew($skew);
  }
}

nav.skew-menu ul li a.active {
  font-size: 0.9rem;
}


/* Nice Button 11 */

/*
.raise {
  --color: #1591a5d1;
  --hover: #343a40;
}
*/

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #343a40;
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.btn-11 {
  color: rgb(255 255 255 / 72%);
  transition: 0.25s;
}

.btn-11:hover,
.btn-11:focus {
  border-color: #cacaca;
  color: rgba(255, 255, 255, 0.89);
}

.btn-11 {
  background: none;
  border: 1px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg)
  }
}

@keyframes wink {
  50% {
    opacity: 0
  }
}

main#app, header#app-header {
  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family:'icomooncert' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-caret-down:before {
    content: "\e907";
  }
  
  .icon-expand:before {
    content: "\e900";
  }
  
  .icon-file-pdf-o:before {
    content: "\e901";
  }
  
  .icon-server:before {
    content: "\e902";
  }
  
  .icon-list:before {
    content: "\e903";
  }
  
  .icon-arrow-left:before {
    content: "\e904";
  }
  
  .icon-certificate:before {
    content: "\e905";
  }
  
  .icon-gitlab:before {
    content: "\e906";
  }
}