
@use './app';

main#app {

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgb(0 0 0 / 53%);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin: -0.8rem;
  margin-top: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .page-link{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
  }
  
  .page-item.active .page-link {
    z-index: 3;
  }
}


.filterLink {
  color: #eee;
  margin-left: .3rem;
  height: 1.5rem;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 0.01rem solid #333;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.filterLink:hover {
  color: #fff;
  font-weight: bold;
}

.filterLink:active {
  outline: none;
}

.filtercard {
  background: rgba(255, 255, 255, .1);
  border: 0.1em solid #00000066;
  margin: 0.2em 0.2em 0.2em 0.2em;
  width: 100%;

  .card-body {
    padding: 1.35rem;
  }

}

.spinner-small {
    animation: smalspin 1.5s infinite linear;
    border-radius: 30%;
    height: 0.8rem;
    width: 0.8rem;
    border: 2px solid;
    margin: 0.8rem;
}

@keyframes smalspin {
  0% {
    transform: rotate(0deg);
    border-color: rgba(255, 255, 255, 0.4);
  }

  50% {
    border-color: white;
  }

  100% {
    transform: rotate(360deg);
    border-color: rgba(255, 255, 255, 0.4);
  }
}



.cat-icon {
    display: inline-block;
    /* icon primary color */
    color: var(--icon-color-primary);
    height: 1em;
    width: 1em;
  }
  
  .cat-icon use {
    /* icon secondary color - fill */
    fill: var(--icon-color-secondary);
  }
  
  .cat-icon.cat-icon--outline use {
    /* icon secondary color - stroke */
    stroke: var(--icon-color-secondary);
  }
  
  /* --------------------------------
  
  Change icon size
  
  -------------------------------- */
  
  .cat-icon--xs {
    height: var(--icon-size-xs);
    width: var(--icon-size-xs);
  }
  
  .cat-icon--sm {
    height: var(--icon-size-sm);
    width: var(--icon-size-sm);
  }
  
  .cat-icon--lg {
    height: var(--icon-size-lg);
    width: var(--icon-size-lg);
  }
  
  .cat-icon--xl {
    height: var(--icon-size-xl);
    width: var(--icon-size-xl);
  }
  
  /* -------------------------------- 
  
  Align icon and text 
  
  -------------------------------- */
  
  .cat-icon-text-aligner {
    /* add this class to parent element that contains icon + text */
    display: flex;
    align-items: center;
  }
  
  .cat-icon-text-aligner .cat-icon {
    color: inherit;
    margin-right: 0.4em;
    flex-shrink: 0;
  }
  
  .cat-icon-text-aligner .cat-icon.cat-icon--align-right {
    margin-right: 0;
    margin-left: 0.4em;
  }
  
  .cat-icon-text-aligner .cat-icon use {
    color: inherit;
    fill: currentColor;
  }
  
  .cat-icon-text-aligner .cat-icon.cat-icon--outline use {
    stroke: currentColor;
  }
  
  /* -------------------------------- 
  
  Icon reset values - used to enable color customizations
  
  -------------------------------- */
  
  .cat-icon {
    fill: currentColor;
    stroke: none;
  }
  
  .cat-icon.cat-icon--outline {
    stroke: currentColor;
  }
  
  .cat-icon use {
    stroke: none;
  }
  
  
  .cat-icon--outline.cat-icon--stroke-1 {
    stroke-width: 1px;
  }
  
  .cat-icon--outline.cat-icon--stroke-2 {
    stroke-width: 2px;
  }
  
  .cat-icon--outline.cat-icon--stroke-3 {
    stroke-width: 3px;
  }
  
  .cat-icon--outline.cat-icon--stroke-4 {
    stroke-width: 4px;
  }
  
  .cat-icon--outline.cat-icon--stroke-1 use,
  .cat-icon--outline.cat-icon--stroke-3 use {
    -webkit-transform: translateX(0.5px) translateY(0.5px);
    -moz-transform: translateX(0.5px) translateY(0.5px);
    -ms-transform: translateX(0.5px) translateY(0.5px);
    -o-transform: translateX(0.5px) translateY(0.5px);
    transform: translateX(0.5px) translateY(0.5px);
  }
  
  
  
  // Cert card body
  
  .certbottommagin {
  
    img {
      /* Same as first example */
      display: block;
      min-height: 21vh;
  
  
      &:before {
        width: 100%;
        /* Make sure we fill in the whole image area */
        min-height: 21vh;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        /* We want to center copy from alt tag horizontally & vertically */
        align-items: center;
        justify-content: center;
  
  
        background: rgb(43, 128, 153);
        background: radial-gradient(circle, rgba(43, 128, 153, 1) 33%, rgba(18, 83, 97, 1) 68%);
  
        color: #FFF;
        font-size: 1rem;
        font-weight: bold;
  
  
        /* Cool trick: we're using CSS attr() function to retrieve alt property copy */
        content: " IMG-Broken : " attr(alt);
      }
  
    }
  
  }
  
  .certbottommagin .card-body {
    padding: 1.1rem 1.1rem 0 1.1rem;
    display: flex;
    flex-direction: column;
  
  }
  
  // Cert card tittle
  
  .cert-card-title {
    text-align: center;
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
  }
  
  // Cert Pagination
  
  .page-link {
    color: #ffffff;
    background-color: #ffffff24;
    border: 1px solid #101010d4;
  }
  
  .page-item.disabled .page-link {
    color: #f1f1f1;
    background-color: #383d41;
    border-color: #000000;
  }
  
  .page-item.active .page-link {
    color: #fff;
    background-color: #212529;
    border-color: #ffc107;
  }
  
  // Cert Spiner
  
  @keyframes rotate {
    0% {
      transform: rotate(360deg)
    }
  }
  
  @keyframes wink {
    50% {
      opacity: 0
    }
  }
  
  .spinner {
    width: 7em;
    margin: 3em auto;
    left: 40%;
    position: absolute;
  
    &:before {
      content: "";
      display: block;
      width: 7em;
      height: 1em;
      margin: 3em auto;
      padding: 3em 0;
      border-radius: 50%;
      border: 0.7em solid #cdcdcd;
      border-top: 0.7em solid transparent;
      border-bottom: 0.7em solid transparent;
      animation: rotate 1s ease infinite;
    }
  
    &:after {
      content: "Loading";
      position: absolute;
      top: 0;
      color: #e9e9e9;
      font: 0.9em sans-serif;
      width: 8em;
      line-height: 15em;
      text-align: center;
      animation: wink 1.4s ease infinite;
    }
  }
  
  
  
  // Icons css
  
  .navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  
  .certbottommagin {
    margin-bottom: 1rem;
  }
  
  
  /* Cert Error Box */
  .cert-error-box {
    background-color: #FAFAFA;
    padding: 2em;
    color: #224;
    font-size: 1.5em;
    min-height: 80vh;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  /*search box results */
  
  
  .search-results {
  
    color: #CDDC39;
    margin-top: 1em;
    border: 1px solid #cddc3985;
    padding: 0.6em;
  
    .highlight {
      color: #ffeb3b;
    }
  }
  
  /* search box */
  
  /* helpers/align.css */
  
  .align {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  /* helpers/grid.css */
  
  ::-webkit-input-placeholder {
    color: #42454e;
  }
  
  ::-ms-input-placeholder {
    color: #42454e;
  }
  
  ::placeholder {
    color: #42454e;
  }
  
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
  }
  
  input[type="search"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
  
  input[type="submit"] {
    cursor: pointer;
  }
  
  .form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .form__input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  
  /* modules/search.css */
  
  .search {
    background-color: #42454e;
    border-radius: .125rem;
    font-size: 12px;
    font-size: .75rem;
    padding: 8px;
    padding: .5rem;
  }
  
  .search input[type="search"],
  .search input[type="submit"] {
    border-radius: .125rem;
  }
  
  .search input[type="search"] {
    background-color: #fff;
    color: #42454e;
    padding: 6px 8px;
    padding: .375rem .5rem;
  }
  
  .search input[type="submit"],
  .btn-search-box {
    background-color: #1bba9a;
    color: #fff;
    font-weight: bold;
    margin-left: 8px;
    margin-left: .5rem;
    padding: 6px 10px;
    padding: .375rem .625rem;
  }
  
  .search input[type="submit"]:focus,
  .search input[type="submit"]:hover,
  .btn-search-box:hover,
  .btn-search-box:focus {
    background-color: #189e83;
  }
  
  
  
  /* mobile paginator smaller to fit */
  
  ul.mobile-paginator li a,
  ul.mobile-paginator li span {
    padding: 0.4rem 0.55rem;
  }
  
  /*checkbox */
  
  
  .rkmd-checkbox {
    color: #51ebed;
    font-size: 0.8rem;
    font-weight: bold;
    //font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
  }
  
  .rkmd-checkbox .input-checkbox {
    position: relative;
    width: 1rem;
    height: 1rem;
    text-align: center;
    margin-top: 1.1rem;
    margin-left: 0.5rem;
    float: left;
  }
  
  .rkmd-checkbox .input-checkbox input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    left: 7px;
    bottom: 7px;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    opacity: 0;
  }
  
  .rkmd-checkbox .input-checkbox input[type="checkbox"]+.checkbox:before {
    position: absolute;
    left: 4px;
    bottom: 8px;
    width: 18px;
    height: 18px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: -6px;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    transition: all .2s ease;
    z-index: 1;
  }
  
  .rkmd-checkbox .input-checkbox input[type="checkbox"]+.checkbox:before {
    content: "\e835";
    color: #717171;
  }
  
  .rkmd-checkbox .input-checkbox input[type="checkbox"]:checked+.checkbox:before {
    content: "\e834";
  }
  
  .rkmd-checkbox .input-checkbox input[type="checkbox"]:active:not(:disabled)+.checkbox:before {
    -webkit-transform: scale3d(0.88, 0.88, 1);
    transform: scale3d(0.88, 0.88, 1);
  }
  
  .rkmd-checkbox .input-checkbox input[type="checkbox"]:disabled+.checkbox:before {
    color: rgba(0, 0, 0, 0.157) !important;
  }
  
  .rkmd-checkbox.checkbox-light label,
  .rkmd-checkbox.checkbox-light .label {
    color: #FFF;
  }
  
  .rkmd-checkbox.checkbox-light input[type="checkbox"]+.checkbox:before {
    color: #FFF;
  }
  
  .rkmd-checkbox.checkbox-light input[type="checkbox"]:disabled+.checkbox:before {
    color: #5d5d5d !important;
  }
  
  .rkmd-checkbox.checkbox-light.checkbox-rotate input[type="checkbox"]+.checkbox:before {
    border-color: #FFF;
  }
  
  .rkmd-checkbox.checkbox-light.checkbox-rotate input[type="checkbox"]:disabled+.checkbox:before {
    border-color: #5d5d5d !important;
  }
  
  .rkmd-checkbox label,
  .rkmd-checkbox .label {
    cursor: pointer;
  }
  
  .rkmd-checkbox.checkbox-rotate .input-checkbox input[type="checkbox"]+.checkbox {
    cursor: pointer;
  }
  
  .rkmd-checkbox.checkbox-rotate .input-checkbox input[type="checkbox"]+.checkbox:before {
    content: "";
    position: absolute;
    left: 7px;
    bottom: 7px;
    width: 18px;
    height: 18px;
    border: 2px solid #717171;
    border-radius: 2px;
    transition: all .2s ease;
    z-index: 1;
  }
  
  .rkmd-checkbox.checkbox-rotate .input-checkbox input[type="checkbox"]:checked+.checkbox:before {
    left: 11px;
    width: 12px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    border-radius: 1px;
  }
  
  .rkmd-checkbox.checkbox-rotate .input-checkbox input[type="checkbox"]:disabled+.checkbox:before {
    border-color: rgba(0, 0, 0, 0.157) !important;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-teal input[type="checkbox"]:checked+.checkbox:before {
    border-color: #009688;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-lightBlue input[type="checkbox"]:checked+.checkbox:before {
    border-color: #03a9f4;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-green input[type="checkbox"]:checked+.checkbox:before {
    border-color: #4caf50;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-amber input[type="checkbox"]:checked+.checkbox:before {
    border-color: #ffc107;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-orange input[type="checkbox"]:checked+.checkbox:before {
    border-color: #ff9800;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-cyan input[type="checkbox"]:checked+.checkbox:before {
    border-color: #00bcd4;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-pink input[type="checkbox"]:checked+.checkbox:before {
    border-color: #e91e63;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-deepPurple input[type="checkbox"]:checked+.checkbox:before {
    border-color: #673ab7;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-indigo input[type="checkbox"]:checked+.checkbox:before {
    border-color: #3f51b5;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-red input[type="checkbox"]:checked+.checkbox:before {
    border-color: #f44336;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-yellow input[type="checkbox"]:checked+.checkbox:before {
    border-color: #ffeb3b;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-lime input[type="checkbox"]:checked+.checkbox:before {
    border-color: #cddc39;
  }
  
  .rkmd-checkbox.checkbox-rotate .checkbox-brown input[type="checkbox"]:checked+.checkbox:before {
    border-color: #795548;
  }
  
  .rkmd-checkbox.checkbox-ripple .ripple {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  
  .rkmd-checkbox.checkbox-ripple .ripple.animated {
    display: block;
    -webkit-animation-name: checkbox-ripple;
    animation-name: checkbox-ripple;
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  
  @-webkit-keyframes checkbox-ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(1.6);
      transform: scale(1.6);
    }
  }
  
  @keyframes checkbox-ripple {
    100% {
      opacity: 0;
      -webkit-transform: scale(1.6);
      transform: scale(1.6);
    }
  }
  
  .rkmd-checkbox .checkbox-teal .ripple {
    background-color: #009688 !important;
  }
  
  .rkmd-checkbox .checkbox-lightBlue .ripple {
    background-color: #03a9f4 !important;
  }
  
  .rkmd-checkbox .checkbox-green .ripple {
    background-color: #4caf50 !important;
  }
  
  .rkmd-checkbox .checkbox-amber .ripple {
    background-color: #ffc107 !important;
  }
  
  .rkmd-checkbox .checkbox-orange .ripple {
    background-color: #ff9800 !important;
  }
  
  .rkmd-checkbox .checkbox-cyan .ripple {
    background-color: #00bcd4 !important;
  }
  
  .rkmd-checkbox .checkbox-pink .ripple {
    background-color: #e91e63 !important;
  }
  
  .rkmd-checkbox .checkbox-deepPurple .ripple {
    background-color: #673ab7 !important;
  }
  
  .rkmd-checkbox .checkbox-indigo .ripple {
    background-color: #3f51b5 !important;
  }
  
  .rkmd-checkbox .checkbox-red .ripple {
    background-color: #f44336 !important;
  }
  
  .rkmd-checkbox .checkbox-yellow .ripple {
    background-color: #ffeb3b !important;
  }
  
  .rkmd-checkbox .checkbox-lime .ripple {
    background-color: #cddc39 !important;
  }
  
  .rkmd-checkbox .checkbox-brown .ripple {
    background-color: #795548 !important;
  }
  
  
  /* Tags */
  
  .tags,
  .tagFilter {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  
  .tags li,
  .tagFilter .label {
    float: left;
    height: 2em;
    line-height: 2em;
    position: relative;
    font-size: 0.9em;
    margin-top: 0.5em;
  }
  
  .tagFilter div {
    float: left;
    position: relative;
  }
  
  .tagFilter li {
    float: left;
    position: relative;
  }
  
  .tags li,
  .tagFilter .label {
    font-family: "Open Sans", sans-serif;
    margin-left: 2em;
    padding: 0 1.2em 0 1.2em;
    background: #117c7c;
    color: #fff;
    text-decoration: none;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 1px #2bb19e;
  }
  
  .tags li:before,
  .tagFilter .label:before {
    content: "";
    position: absolute;
    top: 0.01em;
    left: -1.8em;
    width: 0;
    height: 0;
    border-color: transparent rgb(68 97 110) transparent transparent;
    border-style: solid;
    border-width: 0.98em 0.98em 0.98em;
  }
  
  .tags li:after,
  .tagFilter .label:after {
    content: "";
    position: absolute;
    top: 0.8em;
    left: 0;
    float: left;
    width: 0.4em;
    height: 0.4em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #368864;
    -webkit-box-shadow: -1px -1px 2px #368864;
    box-shadow: -1px -1px 2px #368864;
  }
  
  .tags li:hover,
  .tagFilter .label:hover {
    background: #555;
  }
  
  .tags li:hover:before {
    border-color: transparent #555 transparent transparent;
  }
  
  .tagFilter .label:hover:before {
    border-color: transparent #ffc107 transparent transparent;
  }
}