.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.netlify
yarn-error.log
/src/deno-db/db
/static/collecting
/static/~partytown
static/yandex*.html
.yarn
