@use '../global';

/* IcoMoon */
 
@font-face {
  font-family: 'icomoon';
  src:
    url('/fonts/index/icomoon/icomoon.ttf?a2zlr4') format('truetype'),
    url('/fonts/index/icomoon/icomoon.woff?a2zlr4') format('woff'),
    url('/fonts/index/icomoon/icomoon.svg?a2zlr4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.lfc, .rsb {
  scroll-behavior: smooth;
  min-height: 100%; /* enforce height */
}      

#main {
  max-width: 120rem;
  margin-left: auto;
  margin-right:auto;
  display: flex;
nav {
    
    ul{
 
        a{
            transition: color 0.4s;
        }
        
        a:hover {
             color: #ea9700;
        }
        
    }
    
    i {
    padding-right: 2rem;
    font-size: 150%;
    position: relative;
    top: 0.3rem;
    }
    
 li#text {
        padding-bottom: 5px;
    }
    
}

.rsn {
    z-index: 2;
    padding-top: 8rem;
}

.rsl{
   margin-left: 8rem;
   top: 4rem;
   z-index: -2;
}

}

.rst {
    padding-top: 4rem;
    margin-top: -2%;
    margin-left:24%;
}
.at-sign-main, .at-sign-sidebar{
    width: 1.2rem;
    height: 1.2rem;
    display: inline;
    margin: 0.1em;
}
    
.at-sign-main {
    use {
        fill:#fbfbfb73;
    }  
}

.at-sign-sidebar {
       fill: rgb(120 120 120);
}

.rst-s {
    opacity:0.8;
    color:#6c757d;
}

.rsd {
    font-size: 1.2rem;
    margin-top: 6%;
    margin-left: 28%;
}

.ml-p10 {
    margin-left: 10%;
}

.mt-p10 {
    margin-top: 10%;
}

.rs-slc {
    width: 43%;
    
    a {
      color: #ffd699;
      height: 3rem;
      display: inline-block;
      padding: 1rem;
    }
    
}

.rs-slc-nonactive {
    color: white;
    font-size: 1.3rem;
    padding: 0.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
    transition: color .4s,border .4s,background-color .4s;
    position: relative;
    top: 0.25rem;
}

.rs-links-b li:hover i{
    border-radius: 50%;
    position: absolute;
    margin: 0.2rem;
    font-size: 150%;
    border: 0.18rem solid #f1b01e;
    transition: all 0.4s;
}
 

.lfc, .rsb {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.lfc::-webkit-scrollbar, .rsb::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.ls-h{
    background-color: rgba(23, 23, 23, 0.8);
    color: #ffc107;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: right;
    padding: 0.5rem 1rem;
    padding-left: 3rem;
    border-bottom: 0.2rem solid #f1b01e;
    
}

.ls-pr-ct{
    color: #026084;
    background-color: #fafafa;
    font-size: 1.3em;
}

 
.ls-sk-ct {
    background-color: rgba(23, 23, 23, 0.8);
    color: #f1b01e;
    font-size: 1.35em;
    text-transform: lowercase;
    padding: 2rem 4rem;
    text-align: right;
}

.ls-sk-ct ul li:after {
    content: "";
    width: 50%;
    display: block;
    margin-bottom: 0.4em;
    padding-bottom: 0.4em;
    margin-left: 50%;
    border-bottom: 0.08em solid rgba(255, 193, 7, 0.52);
}

 
.l-w-bg {
    color: #002080;
    background-color: #fafafa;
    padding: 1rem;
    text-align: center;
    font-size: 1.3em;
}


 
.ls-ct-fr {
    background-color: rgba(32, 34, 43, 0.95);
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem 1rem;
    
    
input, textarea {
	display: block;
	margin: 1rem auto;
	color: #f1b01e;
	background-color: rgb(32,34,43);
	border: 0.1rem solid transparent;
	width: 50%;
	transition: border .4s;
        border-bottom: 0.02em solid #f1b01e52;
}

input:focus, textarea:focus {
	outline: none;
	border-bottom: 0.1rem solid #f1b01e;
	transition: border-bottom .4s;
}

input{
	padding: 0.3rem 0;	
}

.btn-submit{
	border: none;
	width: 50%;
	color: #f1b01e;
	border: 0.1rem solid #f1b01e;
	background-color: rgb(32,34,43);	
	transition: color .5s, background-color .5s;
        margin-top:0.7em;
}

.btn-submit:hover {
	background-color: #f1b01e;
	color: #fff;
	transition: color .5s, background-color .5s;
}

}
 
.alert-base{
    max-width: 25rem;
    justify-content: center;
    margin: 1rem auto;
    border-bottom-width: 0.3rem;
    border: px solid #222;
}

.alert-error{
     border-color: #af3a2a;
     background-color: #fff1f1;
}

.alert-close{
  position: relative;
  right: -15.5rem;
  top: -1.5rem;
  border: 1px #3a3a3a8f solid;
  border-radius: 50%;
  font-size: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 0;
  color: #000;
  text-transform: uppercase;
}

.left-side-footer {
    background-color: #191a21;
    padding: 1.6em 0;
    text-align: center;
}

#side-menu{
    border-right: 2px solid #000;
    border-top: .6rem solid #f1b01e;
    z-index: 6;
    transition: all .15s cubic-bezier(.55,.085,.68,.53);
    transform: translateX(-100%);
    max-width: 40rem;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    background: #02030ef5;
    backdrop-filter: blur(10px);
    
 &.sideMenuToggle {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); 
 }
    
}

#menu-close{
    color: rgb(214, 214, 214);
    font-size: 3rem;
    position: relative;
    right: -90%;
}
 

/* H3 */
h3 {
  margin: 2rem 0;
  color: #426990;
  text-align: center;
  overflow: hidden;
}
 
h3 span {
  display: inline-block;
  position: relative;
}
h3 span:before, h3 span:after {
  content: "";
  border-bottom: .1em solid #426990;
  width: 3em;
  margin: 0 1.5em;
  position: absolute;
  bottom: .5em;
}
h3 span:before {
  right: 100%;
}
h3 span:after {
  left: 100%;
}

::-webkit-input-placeholder {
	color: #f1b01e;
}

:-moz-placeholder {
  color: #f1b01e;
}

::-moz-placeholder {  
   color: #f1b01e;
}

:-ms-input-placeholder {  
   color: #f1b01e;
}


.left-side-footer {
	background-color: #191a21;
	padding: 1.6em 0;
	text-align: center;
}

.left-side-footer a, .left-side-footer p{
    color: #f8f9fa;
    font-size: 0.9em;
    
}

.left-side-footer p {
    padding-bottom: 0.2em;
}


/* PC */

.box {
    display: block;
    margin: auto;
    width: 25vw;
    height: 16vw;
    position: relative;
    margin-top: 6rem;
}

.computer-top {
	position:absolute;
	width:30%;
	height:30%;
	left:35%;
	top:15%;
	background:#fff;
	border-radius:4px 4px 0 0;
	border-bottom: 0.1rem solid #222
}

.camera {
	position:absolute;
	top:3.5%;
	left:47%;
	width:3%;
	height:4%;
	background:#222;
	border-radius:50%;
}

.screen {
	position:absolute;
	width:90%;
	left:5%;
	height:80%;
	top:10%;
	background:#222;
	overflow:hidden;
}

.code {
	position:absolute;
	width:92%;
	height:400%;
	padding:4%;
	animation: slide 1s linear infinite;
	top:0%;
}

.line {
	width:30%;
	height:1%;
	background:#592;
	margin-bottom:4%;
	border-radius:50px;
}

.line02, .line03, .line04, .line06, .line07, .line08, .line10, .line11, .line12, .line14, .line15 {
	margin-left:10%;
}

.computer-bottom {
    position: absolute;
    width: 9.8vw;
    height: 2vw;
    left: 7.585vw;
    top: 7.2vw;
    border-bottom: 2vw solid #fff;
    border-left: 1.2vw solid transparent;
    border-right: 1.2vw solid transparent;
 
 
}

 svg.keyboard {
    height: 110%;
    width: 110%;
    margin-top: 0.4vw;
    margin-left: -0.3vw;
}


@supports (-ms-ime-align:auto) {
    .keyboard {
	height:100%;
	height:100vh;
    }
}

.bottom-box {
    position: absolute;
    width: 9.83vw;
    left: 7.6vw;
    height: 0.5vw;
    top: 9.26vw;
    background: #e2e2e2;
}

@keyframes slide {
	0% {
		top:0%;
	}
	100% {
		top:-40%;
	}
}

@keyframes menuLinkSlideLeft {
	0% {
		margin-left: 0rem;
	}
        10% {
		margin-left: 2rem;
	}
        20% {
		margin-left: 3rem;
	}
        30% {
		margin-left: 4rem;
	}
        40% {
		margin-left: 5rem;
	}
        50% {
		margin-left: 4.5rem;
	}
        60% {
	    margin-left: 4rem;
	}
	70% {
		margin-left: 3rem;
	}
        80% {
		margin-left: 2rem;
	}
        90% {
		margin-left: 2.5rem;
	}
        100% {
		margin-left: 3rem;
	}
}




.keyboard {
    text-align: center;
    font-size: 14px;
}


svg.keyboard path {
  stroke: #000;
  stroke-width: 0.43839258;
  transition: 0.3s;
  cursor: pointer;
}
svg.keyboard path:hover {
   stroke: #c6c363;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration:  0.3s;
}
 

.icos img {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    margin: 0.6rem;
}  
 

/* tags */

.tags {
  zoom: 1;
  text-align: start;
}

.tags:before, .tags:after {
  content: '';
  display: table;
}

.tags:after {
  clear: both;
}

.tags li {
  position: relative;
  margin: 0 0 8px 12px;
  display: inline-block;
}

.tags li:active {
  margin-top: 1px;
  margin-bottom: 7px;
}

.tags li:after {
    content: "";
    z-index: 2;
    position: absolute;
    top: 45%;
    right: -1%;
    width: 5px;
    height: 6px;
    opacity: 0.95;
    background: #eb6b22;
    border-radius: 3px 0 0 3px;
    box-shadow: inset 1px 0 #99400e;
}

.tags a, .tags span {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tags span.taglink {
    line-height: 2.45rem;
    padding: 0 1rem 0 1rem;
    font-size: 0.8em;
    cursor: pointer;
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px white;
    background: #fafafa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #d1d1d1 #c4c4c4 #b5b5b5;
    border-radius: 0.4rem 0 0 0.4rem;
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 70%), 0 1px 2px rgb(0 0 0 / 5%);
}

.tags [name="link"]:hover span {
  padding: 0 7px 0 6px;
  max-width: 40px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tags .taglink span {
  position: absolute;
  top: 1px;
  left: 100%;
  z-index: 2;
  overflow: hidden;
  max-width: 0;
  line-height: 2.4rem;
  padding: 0 0 0 2px;
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #eb6b22;
  border: 1px solid;
  border-color: #d15813 #c85412 #bf5011;
  border-radius: 0 2px 2px 0;
  opacity: .95;
  background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
  background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
  background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: padding, max-width;
  -moz-transition-property: padding, max-width;
  -o-transition-property: padding, max-width;
  transition-property: padding, max-width;
}

.menu-phone{
    position: absolute;
    background-color: #111113;
    padding: .5rem .6rem;
    border-radius: 50%;
    opacity: 0.9;
    left: 1.2rem;
}

.green li:after {
  background: #65bb34;
  -webkit-box-shadow: inset 1px 0 #3a6b1e;
  box-shadow: inset 1px 0 #3a6b1e;
}

.tags.green span span {
  background: #65bb34;
  border-color: #549b2b #4f9329 #4b8b27;
  background-image: -webkit-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: -moz-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: -o-linear-gradient(top, #71ca3f, #5aa72e);
  background-image: linear-gradient(to bottom, #71ca3f, #5aa72e);
}

.blue li:after {
  background: #56a3d5;
  -webkit-box-shadow: inset 1px 0 #276f9e;
  box-shadow: inset 1px 0 #276f9e;
}

.tags.blue span span {
  background: #56a3d5;
  border-color: #3591cd #318cc7 #2f86be;
  background-image: -webkit-linear-gradient(top, #6aaeda, #4298d0);
  background-image: -moz-linear-gradient(top, #6aaeda, #4298d0);
  background-image: -o-linear-gradient(top, #6aaeda, #4298d0);
  background-image: linear-gradient(to bottom, #6aaeda, #4298d0);
}


/* Gitlab Button */

.imggi{
	margin:0.8rem;
       padding: 0.4rem;
       border: 0.01rem solid #ddd;
	max-width:90%;
        display: block;
}

a.gitlab-button {
  font-size: 1rem;
  text-align: center;
  line-height: 3.2rem;
  text-decoration: none;
  color: white;
  background-color: #3162a5;
  border-radius: 0.5em;
  width: 8rem;
  padding: 0.5rem;
  text-shadow: 0px 1px #000000bf;
  box-shadow: 0 4px 0 #0d124cc7, 0 5px 5px 1px rgb(0 0 0 / 40%);
  transition: all 0.15s ease-in-out;
}
a.gitlab-button:hover {
  background-color: #3447bb;
  box-shadow: 0 4px 0 #1e2658, 0 5px 5px 1px rgb(0 0 0 / 40%);
}
a.gitlab-button:active {
  margin-top: 3rem;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* side menu */

.text-custom-v {
  color:#cfcfcf;
}

.sidebar-menu-nav li {
	font-size: 1.4em;
        margin-bottom: 1rem;
        margin-left: 3rem;
}

.sidebar-menu-nav {
	position: relative;
    margin-top: 6.5%;
}

.sidebar-menu-nav li a {
	color: rgb(224, 224, 224);
	text-decoration: none;
	transition: color .4s;

}

.sidebar-menu-nav li a:hover {
	color: #ea9700;
	transition: color .4s;
}

.sidebar-menu-nav i, .sidebar-menu-nav span {
	padding-right: 20px;
	font-size: 150%;
	padding-bottom: 25px;
}

.rst-sb {
      margin-left: 3rem;
}

.rsd-sb {
    margin-left: 5rem;
    margin-top: 0.6rem;
    font-size: 1.05rem;
    margin-bottom: 2rem;
}

.rsb {
    left:60%;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon'!important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reddit:before {
  content: "\e900";
}
.icon-goodreads:before {
  content: "\e911";
}
.icon-home:before {
  content: "\e912";
}
.icon-books:before {
  content: "\e920";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-stumbleupon2:before {
  content: "\eacf";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-my-blog:before {
  content: "\f08e";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-server:before {
  content: "\f233";
}
.icon-gitlab:before {
  content: "\f296";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-github-original:before {
  content: "\e909";
}
 
.fade-in{
    animation: fadeinanim 0.6s linear forwards;
}

@keyframes fadeinanim {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* spinner */


.spinner {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 10rem;
  display:none;
}
.spinner:after, .spinner:before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.spinner__1::after {
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #2ECC71;
  border-bottom-color: #2ECC71;
  top: -4px;
  left: -4px;
  animation: spin 2s linear infinite;
}
.spinner__1::before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: #1abc9c;
    animation: shrink 3s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.4);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

// TEST
 
.github-contributions {
	  --color-workflow-card-connector: var(--color-scale-gray-5);
    --color-workflow-card-connector-bg: var(--color-scale-gray-5);
    --color-workflow-card-connector-inactive: var(--color-border-default);
    --color-workflow-card-connector-inactive-bg: var(--color-border-default);
    --color-workflow-card-connector-highlight: var(--color-scale-blue-5);
    --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-5);
    --color-workflow-card-bg: var(--color-scale-gray-7);
    --color-workflow-card-inactive-bg: var(--color-canvas-inset);
    --color-workflow-card-header-shadow: rgba(27, 31, 35, 0.04);
    --color-workflow-card-progress-complete-bg: var(--color-scale-blue-5);
    --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-6);
    --color-discussions-state-answered-icon: var(--color-scale-green-3);
    --color-bg-discussions-row-emoji-box: var(--color-scale-gray-6);
    --color-notifications-button-text: var(--color-scale-white);
    --color-notifications-button-hover-text: var(--color-scale-white);
    --color-notifications-button-hover-bg: var(--color-scale-blue-4);
    --color-notifications-row-read-bg: var(--color-canvas-default);
    --color-notifications-row-bg: var(--color-canvas-subtle);
    --color-icon-directory: var(--color-fg-muted);
    --color-checks-step-error-icon: var(--color-scale-red-4);
    --color-calendar-halloween-graph-day-L1-bg: #631c03;
    --color-calendar-halloween-graph-day-L2-bg: #bd561d;
    --color-calendar-halloween-graph-day-L3-bg: #fa7a18;
    --color-calendar-halloween-graph-day-L4-bg: #fddf68;
    --color-calendar-winter-graph-day-L1-bg: #0A3069;
    --color-calendar-winter-graph-day-L2-bg: #0969DA;
    --color-calendar-winter-graph-day-L3-bg: #54AEFF;
    --color-calendar-winter-graph-day-L4-bg: #B6E3FF;
    --color-calendar-graph-day-bg: #161b22;
    --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
    // --color-calendar-graph-day-L1-bg: #0e4429;
    // --color-calendar-graph-day-L2-bg: #006d32;
    // --color-calendar-graph-day-L3-bg: #26a641;
    // --color-calendar-graph-day-L4-bg: #39d353;
    --color-calendar-graph-day-L1-bg: #0A3069;
    --color-calendar-graph-day-L2-bg: #0969DA;
    --color-calendar-graph-day-L3-bg: #54AEFF;
    --color-calendar-graph-day-L4-bg: #B6E3FF;
    --color-calendar-graph-day-L1-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L2-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L3-border: rgba(255, 255, 255, 0.05);
    --color-calendar-graph-day-L4-border: rgba(255, 255, 255, 0.05);
    --color-user-mention-fg: var(--color-scale-yellow-0);
    --color-user-mention-bg: var(--color-scale-yellow-8);
    --color-text-white: var(--color-scale-white);
    --color-calendar-graph-day-bg: #161b22;

width: 94%;

.position-relative {
    position: relative;
}

.float-right {
    float: right;
}
 
.f4 {
    font-size: 1.1rem;
}
.mb-2 {
    margin-bottom: var(--base-size-8, 8px);
}

.d-flex {
    display: flex;
}

.height-full {
    height: 100% ;
}

.overflow-hidden {
    overflow: hidden;
}

.flex-items-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

svg:not(:root) {
    overflow: hidden;
}

.ContributionCalendar-day, .ContributionCalendar-day[data-level="0"] {
    fill: var(--color-calendar-graph-day-bg);
    shape-rendering: geometricPrecision;
    background-color: var(--color-calendar-graph-day-bg);
    border-radius: 2px;
    outline: 1px solid var(--color-calendar-graph-day-border);
    outline-offset: -1px;
}

.ContributionCalendar-label {
    padding: 0.125em 0.5em 0.125em 0;
    font-size: 12px;
    font-weight: var(--base-text-weight-normal, 400);
    color: var(--color-fg-default);
    text-align: left;
    fill: var(--color-fg-default);
}

.ContributionCalendar-day, .ContributionCalendar-day[data-level="0"] {
  fill: var(--color-calendar-graph-day-bg);
  shape-rendering: geometricPrecision;
  background-color: var(--color-calendar-graph-day-bg);
  border-radius: 2px;
  outline: 1px solid var(--color-calendar-graph-day-border);
  outline-offset: -1px;
}

.ContributionCalendar-day[data-level="1"] {
  fill: var(--color-calendar-graph-day-L1-bg);
  background-color: var(--color-calendar-graph-day-L1-bg);
  outline: 1px solid var(--color-calendar-graph-day-L1-border);
}

.ContributionCalendar-day[data-level="2"] {
  fill: var(--color-calendar-graph-day-L2-bg);
  background-color: var(--color-calendar-graph-day-L2-bg);
  outline: 1px solid var(--color-calendar-graph-day-L2-border);
}

.ContributionCalendar-day[data-level="3"] {
  fill: var(--color-calendar-graph-day-L3-bg);
  background-color: var(--color-calendar-graph-day-L3-bg);
  outline: 1px solid var(--color-calendar-graph-day-L3-border);
}

.ContributionCalendar-day[data-level="4"] {
  fill: var(--color-calendar-graph-day-L4-bg);
  background-color: var(--color-calendar-graph-day-L4-bg);
  outline: 1px solid var(--color-calendar-graph-day-L4-border);
}

.f6 {
  font-size: 0.875rem;
}

.width-full {
  width: 100%;
}

.d-inline-block {
  display: inline-block;
}
 

.flex-wrap {
  flex-wrap: wrap;
}

.css-truncate .css-truncate-target, .css-truncate.css-truncate-target {
  display: inline-block;
  max-width: 125px;
  vertical-align: top;
}
.css-truncate .css-truncate-overflow, .css-truncate .css-truncate-target, .css-truncate.css-truncate-overflow, .css-truncate.css-truncate-target {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.subnav-item:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.rounded-2 {
  border-radius: var(--primer-borderRadius-medium, 6px) !important;
}
.subnav-item {
  position: relative;
  float: left;
  padding: 5px 16px;
  font-weight: var(--base-text-weight-medium, 500);
  line-height: 20px;
  color: var(--color-fg-default);
  border: 1px solid var(--color-border-default);
}
a {
  color: var(--color-accent-fg);
  text-decoration: none;
}
a {
  background-color: transparent;
}

.subnav::before {
  display: table;
  content: "";
}

.avatar {
  background-color: var(--color-avatar-bg);
  border-radius: var(--primer-borderRadius-medium, 6px);
  box-shadow: 0 0 0 1px var(--color-avatar-border);
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
}
.mr-1 {
  margin-right: var(--base-size-4, 4px) !important;
}
img {
  border-style: none;
}

.text-normal {
    font-weight: var(--base-text-weight-normal, 400) !important;
}
.mb-3 {
    margin-bottom: var(--base-size-16, 16px) !important;
}

h5 {
    font-size: var(--h5-size, 14px);
    font-weight: var(--base-text-weight-semibold, 600);
}

.wb-break-word {
  word-break: break-word !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}

.float-left {
  float: left !important;
}

div.activity-overview-box {
  font-size: 0.9rem;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  margin-top: -1.2rem;
}

.pr-lg-5 {
  margin-top: -1rem;
  margin-bottom: 1.3rem;
  margin-left:auto;
  margin-right:auto;
}

}

